
/* index page */
.index {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
	color: white;
	background: url(https://images.unsplash.com/photo-1558402989-4778474384c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80) center center no-repeat;
	background-size: cover;
	position: relative;
}

.index-word-text {
	font-size: 22px;
	color: white;
	padding-right: 5px;
	padding-top: 15px;
}

.student-word-text {
	font-size: 22px;
	color: white;
	padding-left: 40px;
	padding-right: 5px;
	padding-top: 15px;
}

.index-title {
	max-width: 16em;
	margin: 0;
	font-size: 12vh;
	font-weight: bold;
	line-height: .9;
	color: white;
}

.index-subtitle {
	color: white;
}
	
	@media only screen and (min-width: 32em) { .hero-title { font-size: 16vh; } }	

.index-footer {
	display: flex;
	margin-bottom: 1em;
}

.button {
	padding: .4em .60em;
	color: white;
	text-decoration: none;
	border: .1em solid white;

}
	
	.button-primary {
		color: black;
		background-color: white;
	}
	
/* google maps	 */
#map {
	height: 400px; 
	width: auto; 
    position:relative;
    border: 2px solid black;
} 

.map-display-background {
	background: url(https://images.unsplash.com/photo-1555885457-8cb63c8a576c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between;  */
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
}

.business-map {
	background: url(https://images.unsplash.com/photo-1555885457-8cb63c8a576c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between;  */
	height: auto;
	padding: 1em;
	box-sizing: border-box;
}

/* number next to radius slider */
#demo {
	padding: 15px;
	font-size: 19px;
}

.welcome-back-text {
	color: black;
	font-weight: 900;
	font-size: 2.5em;
}

.filter-text {
	color: black;
	font-weight: 900;
	font-size: 2em;
}

.location-cat-text {
	color: black;
}


#center-header {
	color:white;
	
}

.center-map {
	display: no-repeat;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
	color: white;
	/* background: url(https://images.unsplash.com/photo-1565728744382-61accd4aa148?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80)center center no-repeat;
	background-size: cover;
	opacity: 0.5; */
}  

/* confirmation-page */
/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* confirmation-page */
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* confirmation-page */
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* confirmation-page */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* confirmation-page */
div.gallery img {
  width: 100%;
  height: auto;
}

/* confirmation-page */
* {
  box-sizing: border-box;
} 

/* confirmation-page */
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

/* confirmation-page */
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

/* confirmation-page */
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* confirmation-page */
.confirm-time-text {
	color: black;
}

/* tutor welcome page */
.tutor {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
	background: url(https://images.unsplash.com/photo-1565728744382-61accd4aa148?ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80) center center no-repeat;
	background-size: cover;
}

.card-header {
	font-size: 5em;
	font-weight: bold;
}

.card-title {
	font-size: 2em;
}

.card-text {
	font-size: 1.8em;
}

.tutor-message {
	opacity: 0.8;
}

/* tutor and student sessions pages */
.tutor-sessions {
	/* display: flex; */
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
}

/* tutor and student sessions pages */
.jumbotron {
   background: url(https://images.unsplash.com/photo-1521316973612-36489899f29b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   font-size: 3em;
   font-color: white;
}

/* tutor and student sessions pages */
.jumbotron-text {
	color: black;
	font-weight: 900;
	padding-left: 45px;
}

/* tutor details page */
.jumbotron-details {
	 background: url(https://images.unsplash.com/photo-1556565681-67b9cd907d20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   font-size: 3em;
   font-color: white;
}

/* tutor details buttom */
.btn-secondary {
	padding-bottom: 5px;
	padding-top: 5px;
}

/* tutor details card */
.card-header1 {
	font-size: 1em;
	font-weight: bold;
	padding-left: 13px;
	
}

/* tutor details card */
.card-text1 {
	font-size: large;
	padding-left: 13px;
}

/* session-display aka session confirmed page */
.session-confirmed {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
	/* color: white; */
	background: url(https://images.unsplash.com/photo-1460518451285-97b6aa326961?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center center no-repeat;
	background-size: cover;
}

/* session-display aka session confirmed page */
.confirm-text{
	padding-top: 377px;
	color: white;
	font-weight:900;
	font-size: 3.3em;
}

